@import "core";
@import "ally";
  // .govuk-logo-dot {
  //   fill: #00bcd4; // turquoise, default from GOV.UK styles
  // }
.govuk-header {
  background-color: $govuk-brand-colour;
  border-bottom: 0;
}

.govuk-header__container {
    margin-bottom: 0;
    padding-top: 0;
    border-bottom: none;
}

.govuk-header__logo,
.govuk-header__content {
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 12px;
}
// .govuk-template--rebranded 
// .govuk-header__logo {
//     margin-bottom: 0;
//     padding-top: 16px;
//     padding-bottom: 12px;
// }

// covers the top border (present on all other pages) on the homepage
// .masthead {
//   margin-top: -10px;
// }

// .govuk-service-navigation {
//     border-width: 1px 0;
//     border-style: solid;
//     border-bottom: none;
//     color: #fff;
//     background-color: $govuk-brand-colour;
//     border-bottom-width: 1px;
//     border-bottom-style: solid;
//     border-color: #8eb8dc;
// }


// .govuk-service-navigation__link:not(:hover):not(:focus) {
//     color: white;
// }