<% nav_items = [
   { title: "Connect a device", root: "connect-to-govwifi", link: "connect-to-govwifi"},
   { title: "Offer GovWifi", link: "offer-govwifi" },
   { title: "Admin", link: "https://admin.wifi.service.gov.uk/" }
] %>

<% is_root = current_page.url == "/" %>

<div class="govuk-service-navigation <%= 'govuk-service-navigation--inverse' if is_root %>"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="/" class="govuk-service-navigation__link">
          GovWifi
        </a>
      </span>
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" role="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation" aria-label="Top Level Navigation">
          <% nav_items.each do |nav_item| %>
          <li class="govuk-service-navigation__item <%= get_nav_active_class(nav_item.fetch(:link), nav_item.fetch(:root, nil)) %>">
            <%= link_to nav_item.fetch(:title), nav_item.fetch(:link), class: "govuk-service-navigation__link" %>
          </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>